@model OdeToFood.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h2> @Model.Name </h2>
<div>
    Id: @Model.Id
</div>
<div>
    Cuisine: @Model.Cuisine
</div>
<br />
<br />

<h2> @ViewData["Title"] </h2>

<a asp-action="Index" asp-controller="Home">Home</a>